

$blue: #003F88;
$blue_grey: #394451;
$yellow: #FDC500;
$font_color: #333;

$font_stack: 'Raleway',   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


$transition_time: 0.3s;
$mobile_width: 768px;

$max_width_paragraph: 530px;

@keyframes pulse {
    from { transform: scale(1) }
    to { transform: scale(1.15) }
}
